.login-modal-body {
  padding: 80px 80px 80px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-heading {
  font-size: 30px;
  margin-bottom: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.connect-login-btn {
  min-width: 250px;
  height: 40px;
  border: none;
  background-color: #0c8ed3;
  color: #e8e8e8;
  font-size: 14px;
  margin-top: 30px;
}

.login-link {
  margin-top: 15px;
  font-size: 12px;
  cursor: pointer;
}
button.close.custom-modal-close {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #0c8ed3;
  font-weight: 700;
  opacity: 1;
  cursor: pointer;
  z-index: 2;
  font-family: sans-serif;
}
@media (max-width: 576px) {
  .login-heading {
    font-size: 25px !important;
  }
}
@media (max-width: 530px) {
  .login-heading {
    font-size: 20px !important;
  }
}
